@charset "utf-8";
/* CSS Document */

.navbar-default .navbar-nav > .active{
    color: #000;
    background: #1F2F36;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background: #2E1760;
}
.navbar-default .navbar-brand{
	color: #F2F4F3;	
}
.navbar{
	border-radius: 0px;
}
img {align:"middle"}
.menu{margin-bottom:0px; background-color:#22333B; border-color:#0A0908}


.intro{position:relative; padding:0px; background-image:url(../OSTLibrary/img/forest.png); background-position:center 75%}
.weare{height: 300px;text-align:center;}
.weare2{position:absolute; top:300px; height:300px }
.alpha{background-color:#3D378B}
.imgdiv1, .imgdiv2, .weare{background-size:cover; 
	background-repeat:no-repeat; 
	background-position:center; 
	width:100%;
	height:300px;}
.imgdiv1{background-image:url(../OSTLibrary/img/forest.png); background-position:center 75%}
.imgdiv2{background-image:url(../OSTLibrary/img/back2.jpg); position:absolute; top:300px; background-position:left center;}

.main{border:2px solid #ECEEFF; padding:5px; background-color:#ECEEFF; }
.topic {padding:0px 5px 0px 0px; text-align:center; }
.related {border:2px solid #0005F3 ; border-radius:2px; ;padding:0px}
.displayer {margin-bottom: 10px; position:relative; margin:0px}
.displayer h3, p {margin-left: 12px}
.desde {position: absolute; top:15px; right:15px}

.box {margin: 0px 0px 0px 5px}

.albumlable{text-align:center}

html,body,.container {
    height:100%;
}

.container {
    display:table;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
}

.left {
  height: 100vh;
    overflow-y: scroll;
}

.naviSec{
    border-bottom:2px solid #ECEEFF;
}

.pagination{
  width: 50%;
  margin: 0 auto;
}

.filterSearchDiv{
	float:left;
	width:100%;
}

.filterSearchResult{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	background-color:#ECEEFF;
	float:left;
	width: 20%
}

.filterSearchSelected{
	width:20%;
	float:left;
	background-color: #ddd;
}

.form-group{
	float:left;
	width:100%;
}

.filterSearchResult:hover {background-color: #ddd;}

.ostguessblock{
	background-color:#FFFFFF;
	padding:1%;
	margin-top:1vh;
	box-shadow: 0px 0px 5px grey;
}

.blocktrack{
	height:9vh;
}

.guessChat{
	width:100%;	
	max-height:100%;
	height:100%;
	overflow: auto;
}
.guessChat > p{
	float:bottom;
}

.guessChatHolder{
	position: relative;
	height:57vh;
	max-height:57vh;
	margin-bottom:3vh;
}

#playerAndChat{
	position: relative;
	height:60vh;
	max-height:60vh;
	padding-bottom:3vh;
}

#guessPlayers{
	height:100%;
	max-height:100%;
	overflow: auto;
}

.guessInput{
	margin-top: 1vh;
	position:relative;
	bottom:2vh;
}

.guessPlayerItem{
	padding:0px 1% 0px 1%;
	border:2px;
	border-color:#22333b;
	text-align: center;
}

.guessPlayerItem > p{
	font-size:1vw;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
	width:100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#guessSubmit{
	margin-top:2%
}

.mainmenu{
	background-color:#FFFFFF;
	padding:1%;
	box-shadow: 0px 0px 5px grey;
	overflow: auto;
}

.roomItemview{
	margin:5px auto;
	float:left;
	width: 100%;
	box-shadow: 0px 0px 2px #0a0908;
}

.roomItemleft{
	width:75%;
	height:50px;
	float:left;
	text-align:center;
	display:table;
}

.roomItemright{
	width:25%;
	height:50px;
	float:left;
	text-align:center;
	padding:8px 0;
	display:table;
}

.btn, .btn:hover, .btn:visited {
    background-color: #22333B !important;
	color:#F2F4F3 !important;
}

.btn:hover{
	background-color: #36454c !important;
	color:#F2F4F3 !important;
}
.btn:active{
	background-color: #5e6a70 !important;
	color:#F2F4F3 !important;
}